div {
	display: inline-block;
}

p {
	padding: 4px;
}

.select {
	border:1px solid; 
	border-color: #455A64;
	display: inline-block; 
	padding: 8px;
	margin: 4px;
	float:left;
	border-radius: 8px;
}

.select.active {
	background-color:#FFC107 !important;
	color: white;
}