<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"  crossorigin="anonymous">
</head>



<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>

      		<div style="margin-left: 384px; margin-right: 384px; margin-top: 32px;">
			<h3 style="float: left; "> Interests</h3>
			<div>
				<div class="select" *ngFor="let interest of interests; let i = index" (click)="onClick(i)" [class.active]="this.arr[i] == true">
					{{ interest }} 
				</div>
			</div>
			</div>
			<div style="margin-left: 384px; margin-right: 384px;">
				<h3 style="float: left; margin: 16px"> Food </h3>
				<div>
					<div class="select" *ngFor="let food of foods; let i = index" (click)="onClick2(i)" [class.active]="this.arr2[i] == true">
						{{ food }}
					</div>
				</div>
			</div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>




      	<!-- PASCAL's CODE -->
      <mat-form-field class="input-group">
                <input matInput placeholder="Params Key" name="name6"
                       id="name6" maxlength="32">
               
              </mat-form-field>



    
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    	<div style="width: 408px; border: 1px solid black; float: left; height:100vh;">
    		<div class="itinerary" *ngFor="let interest of interests; let i = index" (click)="onClick(i)" [class.active]="this.arr[i] == true">
					<p style="float: left; display: block; clear: left;">{{ interest }}</p>
					<p style="float:  right;"> 8:00 am to 10 am </p>
					<p style="float: left; display: block; clear: left; "> 857 Raintree Dr., San Jose, CA, 95129 </p>
					<button (click)="goUp(i)">Up</button>
					<button (click)="goUp(i + 1)">Down</button>
					
				</div>
		</div>
		<button (click)="switch()"></button>
		<div style="width: 975px; border: 1px solid black; float: right; height:100vh;">
			<agm-map [latitude]="latitude" [longitude]="longitude">

			</agm-map>
		</div>

   <!--  <div>
      <button mat-button matStepperPrevious>Back</button>
    </div> -->
  </mat-step>
</mat-horizontal-stepper>



<!-- 

<button mat-raised-button (click)="onSubmit()" color="primary" style="background-color: #FFC107">Submit</button>
 -->

